node-red/app/flows/balena.json
[{"id":"e761ac79c785e7a9","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"89ecb0bed69afef0","type":"telegram bot","botname":"ouistiti","usernames":"","chatids":"569095091","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"5c098604347a2c67","type":"function","z":"e761ac79c785e7a9","d":true,"name":"Connect to camera","func":"\nif (global.get(\"Camera\")){\n    node.info(\"Camera already instantated\")\n    msg.camera = global.get(\"Camera\");\n    node.status({ fill: \"green\", shape: \"dot\", text: msg.camera.model });\n    return msg\n}\nelse{\n    \n    try {\n        var GPhoto = new gphoto2.GPhoto2();\n        GPhoto.list(function (list) {\n            node.warn(\"Instantiating camera\")\n            if (list.length === 0) return;\n            msg.camera = list[0];\n            global.set(\"Camera\", msg.camera);\n            node.status({ fill: \"green\", shape: \"dot\", text: msg.camera.model });\n            node.send(msg);\n        })\n        \n        } catch (error) {\n            node.warn(error)\n            node.send(null);\n        };\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"gphoto2","module":"gphoto2"}],"x":390,"y":440,"wires":[["08a98d8c54cc82e1"]],"icon":"font-awesome/fa-camera"},{"id":"2a3ebc7266945f7d","type":"debug","z":"e761ac79c785e7a9","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"camera.model","statusType":"msg","x":1580,"y":320,"wires":[]},{"id":"45ae1af9b3b54cae","type":"inject","z":"e761ac79c785e7a9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":440,"wires":[["5c098604347a2c67"]]},{"id":"08a98d8c54cc82e1","type":"function","z":"e761ac79c785e7a9","d":true,"name":"Take picture","func":"const fs = global.get('fs')\n\nmsg.camera.takePicture({\n    targetPath: './foo.XXXXXX'\n}, function (er, tmpname) {\n\n    if (er) {\n        node.warn(\"error\")\n        node.warn(er)\n        return null\n    }\n    fs.renameSync(tmpname, './picture.jpg');\n    msg.path = './picture.jpg'\n    node.status({ fill: \"green\", shape: \"dot\", text: msg.path });\n    node.send(msg);\n\n});\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":440,"wires":[[]],"icon":"font-awesome/fa-camera"},{"id":"af06572e07abbcf7","type":"function","z":"e761ac79c785e7a9","name":"Connect to printer","func":"const escpos = global.get('escpos')\nconst escposUSB = global.get('escposUSB')\n\nif (global.get(\"Printer\")){\n    node.warn(\"Printer already instantated\")\n    msg.printer = global.get(\"Printer\");\n    msg.device = global.get(\"Device\");\n    node.status({ fill: \"green\", shape: \"dot\", text: \"Printer connected\" });\n    return msg\n}\nelse{\n    \n    try {\n        node.warn(\"Instantiating Printer\");\n        escpos.USB = escposUSB;\n        msg.device = new escpos.USB();\n        global.set(\"Device\", msg.device)\n         msg.printer = new escpos.Printer(msg.device);\n        global.set(\"Printer\", msg.printer)\n        node.status({ fill: \"green\", shape: \"dot\", text: \"Printer connected\" });\n        node.warn(msg.printer)\n        node.send(msg);\n\n        } catch (error) {\n            \n            node.warn(error)\n            return null\n        };\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":140,"wires":[["bc2b310aba4bcbf3"]],"icon":"font-awesome/fa-print"},{"id":"30d897d9fd89d468","type":"inject","z":"e761ac79c785e7a9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["af06572e07abbcf7"]]},{"id":"bc2b310aba4bcbf3","type":"function","z":"e761ac79c785e7a9","name":"Print","func":"msg.device.open(function (error) {\n    if (error) {\n        node.warn(\"error\")\n        node.warn(error)\n        return null\n    }\n    msg.printer\n        .font('a')\n        .size(1, 1)\n        .text('Starting')\n        .control('LF')\n        .control('LF')\n        .cut()\n        .close()\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":140,"wires":[[]],"icon":"font-awesome/fa-print"},{"id":"4a2f70a74b5dacaa","type":"telegram receiver","z":"e761ac79c785e7a9","name":"ouistiti","bot":"89ecb0bed69afef0","saveDataDir":"./images","filterCommands":false,"x":50,"y":640,"wires":[["2b700851b5584b6b","2a3ebc7266945f7d"],[]]},{"id":"a2a16b1fc51b3461","type":"inject","z":"e761ac79c785e7a9","name":"","props":[{"p":"path","v":"./images/lena.png","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":490,"y":1040,"wires":[["480551bf2514023a"]]},{"id":"5afc35a5f31661c1","type":"function","z":"e761ac79c785e7a9","name":"Loading image","func":"const escpos = global.get('escpos')\n\nnode.warn(\"Loading image\");\n\nescpos.Image.load(msg.printPath, (image) => {\n    if (typeof image.data !== 'undefined') {\n        msg.image = image;\n        node.send(msg)\n    }\n    else { \n        node.warn(\"error loading image\")\n        node.send(null)\n        };\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1460,"y":640,"wires":[["49b5f80d10032caa","2a3ebc7266945f7d"]],"icon":"font-awesome/fa-print"},{"id":"49b5f80d10032caa","type":"function","z":"e761ac79c785e7a9","name":"Print Image","func":"msg.device.open(function (error) {\n    if (error) {\n        node.warn(\"error\")\n        node.warn(error)\n        return null\n    }\n    msg.printer\n        .align('ct')\n        .raster(msg.image)\n        .feed(2)\n        .cut()\n        .close();\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1690,"y":640,"wires":[["2a3ebc7266945f7d"]],"icon":"font-awesome/fa-print"},{"id":"519e3064dce62b41","type":"file","z":"e761ac79c785e7a9","name":"","filename":"./images/print.jpg","filenameType":"str","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1250,"y":1040,"wires":[["2a3ebc7266945f7d","d01f052fce72c643"]]},{"id":"02c1cca2430a752d","type":"image viewer","z":"e761ac79c785e7a9","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":850,"y":1040,"wires":[[]]},{"id":"d01f052fce72c643","type":"image viewer","z":"e761ac79c785e7a9","name":"","width":160,"data":"./images/image.jpg","dataType":"str","active":true,"x":1250,"y":1080,"wires":[[]]},{"id":"2818b64726e78a69","type":"switch","z":"e761ac79c785e7a9","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"photo","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":640,"wires":[["52e44a51a20a1661","3fe7849c17539d06"]]},{"id":"52e44a51a20a1661","type":"image viewer","z":"e761ac79c785e7a9","name":"","width":160,"data":"weblink","dataType":"msg","active":true,"x":650,"y":680,"wires":[[]]},{"id":"3fe7849c17539d06","type":"jimp-image","z":"e761ac79c785e7a9","name":"","data":"path","dataType":"msg","ret":"buf","parameter1":"[{\"name\":\"cover\",\"parameters\":[512,512,\"Jimp.HORIZONTAL_ALIGN_CENTER\",null]},{\"name\":\"greyscale\",\"parameters\":[]},{\"name\":\"dither565\",\"parameters\":[]}]","parameter1Type":"json","parameter2":"512","parameter2Type":"num","parameter3":"Jimp.HORIZONTAL_ALIGN_CENTER","parameter3Type":"str","parameter4":"","parameter4Type":"none","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"batch","selectedJimpFunction":{"name":"batch","fn":"batch","description":"apply one or more functions","parameters":[{"name":"options","type":"json","required":true,"hint":"an object or an array of objects containing {\"name\" : \"function_name\", \"parameters\" : [x,y,z]}.  Refer to info on side panel}"}]},"x":830,"y":640,"wires":[["4604635a1e6864d7","5e81b450fbca8c2f"]]},{"id":"4604635a1e6864d7","type":"image viewer","z":"e761ac79c785e7a9","name":"","width":160,"data":"payload","dataType":"msg","active":true,"x":830,"y":680,"wires":[[]]},{"id":"5e81b450fbca8c2f","type":"file","z":"e761ac79c785e7a9","name":"","filename":"printPath","filenameType":"msg","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1020,"y":640,"wires":[["3b85d1e56a6ef83b","2a3ebc7266945f7d","d7dddd78d38d2b87"]]},{"id":"2b700851b5584b6b","type":"function","z":"e761ac79c785e7a9","name":"Add print path","func":"msg = msg.payload;\nmsg.printPath = \"./print/print.jpg\" \n//msg.printPath = `${msg.path.slice(0, -4)}-print${msg.path.slice(-4)}`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":640,"wires":[["2818b64726e78a69"]]},{"id":"3b85d1e56a6ef83b","type":"image viewer","z":"e761ac79c785e7a9","name":"","width":160,"data":"printPath","dataType":"msg","active":true,"x":1030,"y":680,"wires":[[]]},{"id":"eaba275eb63625ce","type":"function","z":"e761ac79c785e7a9","name":"Loading image","func":"const escpos = global.get('escpos')\n\nnode.warn(\"Loading image\");\n\nescpos.Image.load(\"./images/lena.png\", (image) => {\n    if (typeof image.data !== 'undefined') {\n        msg.image = image;\n        node.send(msg)\n    }\n    else { \n        node.warn(\"error loading image\")\n        node.send(null)\n        };\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":120,"wires":[["1a56f39cfefd81a9"]],"icon":"font-awesome/fa-print"},{"id":"1a56f39cfefd81a9","type":"function","z":"e761ac79c785e7a9","name":"Print Image","func":"msg.device.open(function (error) {\n    if (error) {\n        node.warn(\"error\")\n        node.warn(error)\n        return null\n    }\n    msg.printer\n        .align('ct')\n        .raster(msg.image)\n        .feed(2)\n        .cut()\n        .close();\n})","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":120,"wires":[[]],"icon":"font-awesome/fa-print"},{"id":"16c78ada52629c5e","type":"inject","z":"e761ac79c785e7a9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":820,"y":80,"wires":[["eaba275eb63625ce"]]},{"id":"d7dddd78d38d2b87","type":"function","z":"e761ac79c785e7a9","name":"Connect to printer","func":"const escpos = global.get('escpos')\nconst escposUSB = global.get('escposUSB')\n\nif (global.get(\"Printer\")){\n    node.warn(\"Printer already instantated\")\n    msg.printer = global.get(\"Printer\");\n    msg.device = global.get(\"Device\");\n    node.status({ fill: \"green\", shape: \"dot\", text: \"Printer connected\" });\n    return msg\n}\nelse{\n    \n    try {\n        node.warn(\"Instantiating Printer\");\n        escpos.USB = escposUSB;\n        msg.device = new escpos.USB();\n        global.set(\"Device\", msg.device)\n         msg.printer = new escpos.Printer(msg.device);\n        global.set(\"Printer\", msg.printer)\n        node.status({ fill: \"green\", shape: \"dot\", text: \"Printer connected\" });\n        node.warn(msg.printer)\n        node.send(msg);\n\n        } catch (error) {\n            \n            node.warn(error)\n            return null\n        };\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1230,"y":640,"wires":[["5afc35a5f31661c1"]],"icon":"font-awesome/fa-print"},{"id":"480551bf2514023a","type":"jimp-image","z":"e761ac79c785e7a9","name":"","data":"path","dataType":"msg","ret":"img","parameter1":"4","parameter1Type":"num","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":1,"jimpFunction":"posterize","selectedJimpFunction":{"name":"posterize","fn":"posterize","description":"apply a posterization effect with n level","parameters":[{"name":"n","type":"num","required":true,"hint":"the amount to adjust the contrast, minimum threshold is two"}]},"x":640,"y":1040,"wires":[["02c1cca2430a752d"]]}]